*{
    margin: 0;
    padding: 0;
}

.detailBody{
    padding: 30px;
    background-color: #EEF1F4;
}

.detailHeading{
    padding-bottom: 20px;
}

.detailBody h2{
    border-bottom: 2px solid #757575;
    padding-bottom: 10px;
}



.radioButton{
    display: flex;
    border: 1px solid rgb(211, 210, 210);
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.radioButton:hover{
    background-color: #E0A800;
}

 .firstButton {
    height: 20px !important;
    width: 20px !important;
    margin-left: 10px;
   
    
}

.radioButton div{
    padding-top: 6px;
    margin-left: 25px;
    
}

.radioButton div p{
    font-size: 14px;

}


.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}

.myRadio{
    padding-top: 18px;
    border-top: 2px solid #757575;
    border-bottom: 2px solid #757575;

}

.tempButton{
    padding: 20px;
}

.tempButton button{
    padding: 2px 25px;
    width: 200px;
    margin-right: 20px;
    border-radius: 20px;
    font-weight: 500;
    /* color: #E0A800; */
    border: 3px solid #E0A800;
}


@media screen and (max-width: 768px){
    .myRadio{
        padding-top: 15px;
        
    }
    .radioButton div{
        padding-top: 6px;
        margin-left: 15px;
       
    }

    .radioButton div h6{
        font-size: 14px;
       
    }
    
    .radioButton div p{
        font-size: 12px;
    
    }
    .firstButton {
        height: 15px !important;
        width: 15px !important;
        margin-left: 15px;
    }
    .tempButton button{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 425px) {
    .firstButton {
        height: 12px !important;
        width: 12px !important;
        margin-left: 10px;
    }
    

    .radioButton div h6{
        font-size: 10px;
        
        
       
    }
    
    .radioButton div p{
        font-size: 9px;
    
    }
    
}
@media screen and (max-width: 320px) {
    .firstButton {
        height: 12px !important;
        width: 12px !important;
        margin-left: 5px;
    }
    
    .radioButton div{
        padding-top: 6px;
        margin-left: 5px;
       
    }

    .radioButton div h6{
        font-size: 8px;
        font-weight: 700;
        
       
    }
    
    .radioButton div p{
        font-size: 7px;
        font-weight: 500;
    }
    
}