*{
    margin: 0;
    padding: 0;
}


.links{
    margin-right: 25px;
}   

.links:after{
    content: '|';
    margin-left: 35px; 
} 

Button span{
    margin-left: 10px;
}

 @media screen and (max-width:768px){
     .links:after{
        display: none;
    }
} 
 @media screen and (max-width:425px){
     .links:after{
        display: none;
    }
} 